<h1>Projektit</h1>

<br />

<% @projects.each do |project| %>
	<h2><%= project.name %></h2>
	<p><%= project.description %></p>
<table>
  <tr>
    <td><%= link_to 'Show', project %></td>
	<%= if_project_admin project do %>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
</table>
<% end %>

<br />

<%= link_to 'New Project', new_project_path %>
