<h1><%= @project.name %></h1>

<p><%= @project.description %></p>
<p>Deadline: <%= @project.deadline.strftime("%d.%m.%Y %H:%M") %></p>

<h2>Project members</h2>
<table>
	<th>Username</th>
	<th>Role</th>
	<th>E-mail</th>
	<th>Title</th>
<% @members.each do |member| %>
<tr>
	<td><%= member.user.username %></td>
	<td><%= member.member_role.role %></td>
	<td><%= member.user.email %></td>
	<td><%= member.title %></td>
</tr>
<% end %>
</table>
<%= link_to 'Show all members', project_members_path(@project) %>

<h2>Tasks</h2>
<% unless @tasks.empty? %>
<table>
	<th>Task</th>
	<th>Description</th>
	<th>Priority</th>
	<th>Status</th>
	<th>Deadline</th>
	<th></th>
<% @tasks.each do |task| %>
<tr>
	<td><%= task.name %></td>
	<td><%= task.description %></td>
	<td><%= task.priority %></td>
	<td><%= task.status %></td>
	<td><%= task.deadline %></td>
	<td><%= link_to 'Show task', project_task_path(@project, task) %></td>
</tr>
<% end %>
<% end %>
</table>
<%= if_project_admin @project do %>
<%= link_to 'New Task', new_project_task_path(@project, @task) %><br />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', project_path(@project), :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', projects_path %>