<!DOCTYPE html>
<html>
<head>
  <title>Tsoha</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<% if session[:user_id] %>
	<p>You're logged in as <%= User.find_by_id(session[:user_id]).username %></p>
	<p><%= link_to 'Log out', logout_path %></p>
<% else %>
	<p><%= link_to 'Log in', login_path %> or <%= link_to 'create a new user account', new_user_path %></p>
<% end %>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
